.wrapper{
    display: grid;
    grid-template-columns: 3fr 0.5fr 2fr;
    grid-template-rows: 0.5fr 2fr 2fr;
}
header{
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 5% 5% 0 5%;
    height: 90%;
}
ul{
    display: flex;
    list-style: none;
}
.sketching{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    object-fit: cover;
}
img{
    max-width: 100%;
}
li a{
    text-decoration: none;
    color: black;
}
.background{
    background-color: black;
    color: #ffffff;
}    
    h1{
    grid-column: 2 / 4;
    grid-row: 2;
    color: #ffffff;
}
.sidebar{
    background-color: #484848;
    grid-column: 2 / 4;
    grid-row: 1 / span 5;
}
.tekstbox{
    color: #ffffff;
    max-width: 250px;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
}
.container{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
}
h2{
    margin-left: 5%;
    font-size: 48px;
}

